*/*
Trolltech.conf
!bin/*
!feh/themes
!git/config
!htop/htoprc
!nvim/Makefile
!nvim/bundle
!nvim/ctrl
!nvim/init.vim
!nvim/plugin
!nvim/syntax
!vimperator/init
!zsh/.zshrc
!zsh/autosuggestions
!zsh/highlighting
