*/*
*.conf
*.ini
mimeapps.list
xbindkeys
!awesome/rc.lua
!bin/*
!feh/themes
!git/config
!htop/htoprc
!vim/Makefile
!vim/init.vim
!vim/.vintrc.yaml
!vim/plugin
!vim/syntax
!ranger/rc.conf
!vimperator/init
!zsh/.zshrc
