[submodule "nvim/bundle/dragonfly"]
	path = nvim/bundle/dragonfly
	url = https://github.com/Grimy/dragonfly
[submodule "nvim/bundle/subliminal"]
	path = nvim/bundle/subliminal
	url = https://github.com/Grimy/subliminal
[submodule "nvim/bundle/fzf"]
	path = nvim/bundle/fzf
	url = https://github.com/junegunn/fzf
[submodule "zsh/k"]
	path = zsh/k
	url = https://github.com/rimraf/k
