*/*
Trolltech.conf
mimeapps.list
xbindkeys
!awesome/rc.lua
!bin/*
!feh/themes
!git/config
!htop/htoprc
!nvim/Makefile
!nvim/bundle
!nvim/ctrl
!nvim/init.vim
!nvim/plugin
!nvim/syntax
!ranger/rc.conf
!vimperator/init
!zsh/.zshrc
!zsh/k
