[push]
	default = current

[pull]
	rebase = true

[user]
	name = Victor Adam

[diff]
	tool = vimdiff
	algorithm = patience
	renames = true

[difftool]
	prompt = false

[difftool "vimdiff"]
	cmd = vim -d $REMOTE $LOCAL

[core]
	editor = vim
	pager = less

[interactive]
	singlekey = true

[advice]
	pushNonFastForward = false
	statusHints = false
	detachedHead = false

[merge]
	tool = vimdiff
	ff = false

[rerere]
	enabled = 1

[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
