[alias]
g = log --graph --oneline --decorate --shortstat
stat = show --oneline --stat
orig = remote show origin
fuck = reset --hard

[push]
default = current

[user]
name = Victor Adam
email = Victor.Adam@derpymail.org

[diff]
tool = vimdiff

[difftool]
prompt = false

[difftool "vimdiff"]
cmd = vim -d $REMOTE $LOCAL

[core]
editor = vim
pager = less

[interactive]
singlekey = true
