xterm*termName: xterm-256color
*loginShell: true
*locale: true

*metaSendsEscape:    true
*backarrowKey:       true
!*scrollTTYOutput:   true
!*scrollTTYKeypress: true
xterm*ScrollBar:      false

! urxvt-specific configuration
URxvt.scrollBar:   false
URxvt.iso14755:    false
URxvt.iso14755_52: false
URxvt.perl-ext-common: quake
!URxvt.keysym.C-S-Up:   perl:font-size:incglobal
!URxvt.keysym.C-S-Down: perl:font-size:decglobal

! The following line crashes vim
! DO NOT UNCOMMENT
!*allowScrollLock: true

*saveLines: 65535

*bellIsUrgent: true
*eightBitOutput: true

*borderWidth: 0

*faceName: Source Code Pro for Powerline
*faceSize: 12

*scaleHeight: 1
*showBlinkAsBold: True
! xcursor.theme: Vanilla-DMZ-AA

! Vinyl Scratch
*foreground: rgb:fe/fd/e7

! Sublime text
*background: rgb:15/15/15

! True black & white
*color0:  rgb:00/00/00
*color15: rgb:ff/ff/ff

! King Sombra
*color8:  rgb:51/51/51

! Rainbow Dash (coat, mane ROYGBP, eyes)
! *color12: rgb:9d/da/f8
! *color1:  rgb:ec/45/42
! *color9:  rgb:f2/6f/33
! *color11: rgb:fb/f4/ae
! *color2:  rgb:5f/ba/4c
! *color4:  rgb:1d/97/d4
! *color13: rgb:65/2d/87
! *color5:  rgb:ba/1b/76

! Now color corrected!
*color12: rgb:90/e4/ff
*color1:  rgb:ff/12/30
*color9:  rgb:ff/53/11
*color11: rgb:ff/ff/9b
*color2:  rgb:4f/d9/2e
*color4:  rgb:0a/98/e4
*color13: rgb:62/0a/92
*color5:  rgb:e4/28/a3

! Applejack
*color3:  rgb:ff/c3/6b

! Lyra!
*color14: rgb:39/ff/af
*color6:  rgb:09/cf/7f

! Derpy Hooves
*color7:  rgb:c1/c5/d3

! Frederic (eyes)
*color10: rgb:8d/e2/31

! Diff
*color17: rgb: 15/15/23
*color22: rgb: 15/23/15
*color52: rgb: 23/15/15
