! vim: set ft=xdefaults
xterm*termName: xterm-256color

*loginShell:        true
xterm*locale:       true
*cursorOffTime:     0
*bellIsUrgent:      true

*metaSendsEscape:   true
*backarrowKey:      false

*saveLines:         65535
xterm*scrollBar:    false
*scrollTTYOutput:   true
*scrollTTYKeypress: true

*borderWidth: 0
*faceSize: 11
#if WIDTH > 1600
	*faceName: Input Mono Condensed Medium
	*scaleHeight: 1.10
#else
	*faceName: Input Mono Compressed Medium
	*scaleHeight: 1.05
#endif
*showBlinkAsBold: True

! xcursor.theme: Vanilla-DMZ-AA

! Vinyl Scratch
*foreground: rgb:fe/fd/e7
*color15: rgb:fe/fd/e7

! Sublime text
*background: rgb:13/13/13
*color0: rgb:51/51/51

! King Sombra
*color8:  rgb:51/51/51

! Now color corrected!
*color12: rgb:90/e4/ff
*color1:  rgb:ff/12/30
*color9:  rgb:ff/53/11
*color11: rgb:ff/ff/9b
*color2:  rgb:4f/d9/2e
*color4:  rgb:0a/98/e4
*color13: rgb:62/0a/92
*color5:  rgb:e4/28/a3

! Applejack
*color3:  rgb:ff/c3/6b

! Lyra!
*color14: rgb:39/ff/af
*color6:  rgb:09/cf/7f

! Octavia
*color7:  rgb:ba/b8/af

! Frederic (eyes)
*color10: rgb:8d/e2/31

! Diff
*color17: rgb: 15/15/23
*color22: rgb: 15/23/15
*color52: rgb: 23/15/15
